body {
  padding-top: 70px;
}

@media (min-width: 992px) {
  #toc {
    padding-right: 2em;
    position: fixed;
    width: inherit;
  }
}

#toc ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

#toc ul li {
  padding: .5em;
}

#toc .toc-h2 {
  padding-left: 1.5em;
}

#toc .toc-h3 {
  padding-left: 3em;
}

#toc .toc-active {
  background: #f8f8f8;
}
