{% extends 'layout/two-col-3-9.html.twig' %}

{% block title %}
    {% if active_leaf.isroot %}
        Home
    {% else %}
        {{ active_leaf.title }}
    {% endif %}
{% endblock %}

{% block before %}
    {% include 'partials/navbar.html.twig' %}
{% endblock %}

{% block aside %}
    <div id="toc"></div>
{% endblock %}

{% block main %}
    {% include 'partials/breadcrumbs.html.twig' with { 'active': active_leaf } only %}
    <div class="content">
        {% markdown %}{{ document }}{% endmarkdown %}
    </div>
{% endblock %}

{% block after %}
  <div class="container-fluid">
    <div class="well">
      WikiReader v0.1
    </div>
  </div>
{% endblock %}
